.dogname {
    position:absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.644);

    /* border-radius: 35px; */

}

.dogpic{
    /* display: flex;
    flex-direction: row;
     */
     margin: 50px;
     border: 2px solid black;

    position:relative;
    text-align: center;
    color: rgb(255, 255, 255);
    
}

.dogpic img {
    height: 400px;
}

.doggo{
align-items: center;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center; 
}