.newdog{
    background-color: brown;
    border: 2px solid brown;
}

body {
    background-color: rgba(107, 71, 17, 0.829);
}

.newdoglink {
    background-color: rgb(170, 159, 159);
    border: 1px solid black;
}